body{
    cursor: none;
    overflow: hidden;
}
canvas{
    background: #16181f;
}

/*** CURSOR ***/
.cursorContainer{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.5px solid #fefefe;
    position: absolute;
    opacity: 0.8;
    top: -8px;
    left: -8px;
    transition: 0.1s ease;
} 

.cursor{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    opacity: 0.8;
    background: #fefefe;
    position: absolute;
    top: 0%;
    left: 0%;
}

/*** FIRST PAGES ***/

/* Logo container */
.pageOne .spaceXLogo{
    width: 30vw;
    height: 8vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Logo */
.pageOne .spaceXLogo img{
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-42%) translateY(-50%);
    transition: 0.3s ease;
}

/* Logo hover */
.pageOne .spaceXLogo:hover img{
    transform: translateX(-42%) translateY(-50%) scale(1.05);
}