/*** FONTS ***/
@font-face{
    font-family: proximaLight;
    src: url(../fonts/ProximaNovaLight.otf);
}

@font-face{
    font-family: proximaSemiBold;
    src: url(../fonts/ProximaNovaSemibold.otf);
}

@font-face{
    font-family: proximaBold;
    src: url(../fonts/ProximaNovaExtrabold.otf);
}

/*** BODY AND BACKGROUND PROPERTIES ***/
body{
    cursor: none;
    overflow: hidden;
}
canvas{
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);;
}

/*** CURSOR ***/
.cursorContainer{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.5px solid #f2f2f2;
    position: absolute;
    opacity: 0.8;
    top: -8px;
    left: -8px;
    transition: 0.1s ease;
} 

.cursor{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    opacity: 0.8;
    background: #f2f2f2;
    position: absolute;
    top: 0%;
    left: 0%;
}

/*** PAGES ***/
.page{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    will-change: transform;
}

/*** PAGE ONE ***/
/* Logo container */
.pageOne .spaceXLogo, .logoContainer{
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Logo */
.pageOne .spaceXLogo{
    will-change: transform;
    text-align: center;
}

.pageOne .spaceXLogo img{
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-42%) translateY(-50%);
    transition: 0.3s ease;
}

/* Logo hover */
.pageOne .spaceXLogo:hover img{
    transform: translateX(-42%) translateY(-50%) scale(1.05);
}

.pageOne .spaceXLogo p{
    font-family: proximaLight;
    font-size: 1.25vw;
    color: white;
    text-transform: uppercase;
    display: block;
    transform: translateY(200%);

}

/*** PAGE TWO ***/
.pageTwo.active{
    transform: translateX(0vw);
    transition: 0.3s ease;
} 

.content{
    position: absolute;
    width: 90vw;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
}

/* Text Blocks */
.pageTwo>.content>.textBlocks{
    width: 25vw;
    height: 10vh;
    position: absolute;
}

.pageTwo>.content>.textBlockEarth{
    top: 20vh;
    left: 8vw;
}

.pageTwo>.content .textBlockMars{
    top: 70vh;
    right: 8vw;
}

.textBlockMars .autor{
    font-style: italic;
    font-family: proximaSemiBold;
}

/* Text */
.content .title{
    position: absolute;
    top: 4vh;

}

.content .title h1{
    font-family: proximaBold;
    font-size: 45px;
    margin-bottom: 10px;
    color: #f2f2f2;
}

.underLineBar{
    width: 150px;
    height: 4px;
    background: #f2f2f2;
}

.pageTwo>.content>.textBlocks>h2{
    font-family: proximaSemiBold;
    font-size: 25px;
    color: #f2f2f2;
}

.pageTwo>.content>.textBlocks>p{
    font-family: proximaLight;
    font-size: 15px;
    color: #f2f2f2;
    margin-top: 15px;
    text-align: justify;
    line-height: 133%;
}

/** Planets **/
.planets{

    border-radius: 50%;
    background-color: #f2f2f2;
    position: absolute;
}

.planetEarth{
    width: 15vw;
    height: 15vw;
    bottom: 5vh;
    left: 20vw;
    transform: translateX(-50%) translateY(-50%);
}

.planetMars{
    width: 25vw;
    height: 25vw;
    top: 26vh;
    right: -5vw;
    transform: translateX(-50%) translateY(-50%);
}

/** Doted lines **/
.dotedLine{
    height: 50vh;
    width: 80px;
    border: 0.15vw #f2f2f2;
    border-left-style: dashed;
    position: absolute;
    opacity: 0.5;
}

.dotedTop{
    left: 43.5vw;
    top: 52vh;
    transform: translateX(-50%) translateY(-50%) rotateZ(62deg);
}

.dotedBottom{
    left: 40vw;
    top: 10vh;
    transform: translateX(50%) translateY(50%) rotateZ(62deg);
}

/*** PAGE THREE ***/
/*** TIME LINE ***/
.timeLine{
    height: 100vh;
    width: 874px;
    position: relative;
    margin: 0 auto;
    top: 0;
}

/* Time line elements */
.keyPointOne{
    left: 0;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.linkOne{
    height: 130px;
    transform: translateX(-50%) rotateZ(-60deg);
}

.keyPointTwo{
    top: 130px;
    transform: translateX(-50%) translateY(-50%);
}

.linkTwo{
    height: 240px;
    transform: translateX(-50%) rotateZ(-60deg);
}

.keyPointThree{
    top: 240px;
    transform: translateX(-50%) translateY(-50%);
}

.linkThree{
    height: 130px;
    transform: translateX(-50%) rotateZ(60deg);
}

.keyPointFour{
    top: 130px;
    transform: translateX(-50%) translateY(-50%);
}

.linkFour{
    height: 110px;
    transform: translateX(-50%) rotateZ(-55deg);
}

.keyPointFive{
    top: 110px;
    transform: translateX(-50%) translateY(-50%);
}

.linkFive{
    height: 210px;
    transform: translateX(-50%) rotateZ(55deg);
}

.keyPointSix{
    top: 210px;
    transform: translateX(-50%) translateY(-50%);
}

.linkSix{
    height: 220px;
    transform: translateX(-50%) rotateZ(-75deg);
}

.keyPointSeven{
    top: 220px;
    transform: translateX(-50%) translateY(-50%);
}

.keyPoint{
    width: 8px;
    height: 8px;
    background: #f2f2f2c6;
    border-radius: 50%;
    position: absolute;
}

.link{
    width: 1px;
    background: #f2f2f2c6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top center;
    transition: 0.3s ease;
}

/** Time line key points **/
.hitBox{
    width: 32px;
    height: 32px;
    opacity: 0.1;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}

.scalingPoint{
    width: 8px;
    height: 8px;
    background: #f2f2f2;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.5s;
    animation-duration: 1s;
    animation-iteration-count:  infinite;
    animation-timing-function: ease ;
}

.scalingPointClick{
    width: 8px;
    height: 8px;
    background: #f2f2f290;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.5s;
}

.glowingPoint{
    width: 8px;
    height: 8px;
    background: #f2f2f2;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.5s;
    animation-duration: 1s;
    animation-iteration-count:  infinite;
    animation-timing-function: ease ;
}

/** KEYFRAMES OF GLOWING POINTS **/
@keyframes timeLine-animation{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(4);
    }
}

/*** Text ***/
.pageThree .textBlocks{
    width: 50vw;
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.pageThree .textBlocks h2{
    color: #f2f2f2;
    font-family: proximaSemiBold;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
    
}

.pageThree .textBlocks p{
    color: #f2f2f2;
    font-family: proximaLight;
    margin-bottom: 20px;
    text-align: justify;
    font-size: 15px;
    line-height: 15px;
}

.pUnderLineBar{
    width: 100px;
    height: 3px;
    position: absolute;
    background: #f2f2f2;
}

/***************************************
************ SLIDE TRANSITION **********
****************************************/

.slider-element{
    opacity: 1;
    transition: transform 0.3s, opacity 0.5s;
}

.left, .right{
    pointer-events: none;
}

.left .slider-element{
    transform: translateX(-100vw);
    opacity: 0; 
}

.right .slider-element{
    transform: translateX(100vw);
    opacity: 0;
}

.bottom .slider-element{
    transform: translateY(15vw);
}

/** delay of transition **/
.apparition-delay-1{
    transition-delay: 0.1s;
}

.apparition-delay-2{
    transition-delay: 0.2s;
}

.apparition-delay-3{
    transition-delay: 0.3s;
}

.apparition-delay-4{
    transition-delay: 0.4s;
}

.apparition-delay-5{
    transition-delay: 0.5s;
}

.apparition-delay-6{
    transition-delay: 0.6s;
}

.apparition-delay-7{
    transition-delay: 0.7s;
}

.apparition-delay-8{
    transition-delay: 0.8s;
}

.apparition-delay-9{
    transition-delay: 0.9s;
}

/** PAGE FOUR **/
/** Text Blocks **/
.pageFour>.content>.textBlock{
    position: absolute;
    width: 40vw;
    top: 50%;
    transform: translateY(-50%);
    right: 5vw;
    font-family: proximaLight;
    color: #f2f2f2;
}

.pageFour>.content>.textBlock p{
    margin-bottom: 2vh;
    font-size: 15px;
    text-align: justify;
    display: block;
    line-height: 15px;
}

.pageFour>.content>.textBlock p:last-child{
    margin-bottom: 0;
}

.pageFour>.content .textBlockHyperLoop{
    margin-bottom: 2vh;
}

/**planet**/
.pageFour>.content>.outerPlanet>.planet{
    position: absolute;
    width: 25vw;
    height: 25vw;
    background-color: #f2f2f2;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.pageFour>.content>.outerPlanet{
    position: absolute;
    top: 29.5vh;
    width: 31vw;
    height: 31vw;
    border-radius: 50%;
    border: 0.15vw dotted rgba(255, 255, 255, 0.2);
    top: 50%;
    left: 19.5vw;
    transform: translateX(-50%) translateY(-50%);
}

/** KEYFRAMES OF ORBIT ELEMENT **/
@keyframes rot {
	from {
		transform: rotate(0deg)
		           translate(-15.5vw)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-15.5vw) 
		           rotate(-360deg);
	}
}

.orbiting {
	width: 2vw;
	height: 2vw;
	position: absolute;
    top: 47%;
    left: 47%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #f2f2f2;
    border-radius: 50%;
	animation: rot 3s infinite linear;
}

/** Text blocks **/
.pageFive .content .textBlockMars h2{
    margin-bottom: 2vh;
    font-family: proximaSemiBold;
    font-size: 25px;
    color: #f2f2f2;
}

.pageFive .content .textBlockHyperLoop h2{
    margin-bottom: 3vh;
    font-family: proximaSemiBold;
    font-size: 25px;
    color: #f2f2f2;
}

/******PAGE 5******/
/**Text Blocks**/
.pageFive>.content>.textBlockMars{
    position: absolute;
    width: 35vw;
    top: 50%;
    transform: translateY(-50%);
    left: 5vw;
    font-family: proximaLight;
    color: #f2f2f2;
    transition: transform 0.5s ease;
}

.pageFive>.content>.textBlockHyperLoop{
    position: absolute;
    width: 35vw;
    bottom: 15%;
    right: 5vw;
    font-family: proximaLight;
    font-size: 15px;
    color: #f2f2f2;
    line-height: 15px;
}

/** Text **/
.pageFive .content .textBlockMars .textMarsOne{
    margin-bottom: 20px;
    font-size: 15px;
    text-align: justify;
    display: block;
    line-height: 15px;
}

.pageFive .content .textBlockMars .textMarsTwo{
    margin-bottom: 34px;
    font-size: 15px;
    text-align: justify;
    display: block;
    line-height: 15px;
}

.pageFive .content .textBlockMars .quote {
    font-family: proximaBold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

/** Hyper loop modul **/
.pageFive>.content>.comet{
    position: absolute;
    top: 18vw;
    right: 0;
    z-index: -1;
}

.pageFive>.content>.comet>.trail{
    width: 40vw;
    height: 7vw;
    background-color: #f2f2f2;
    z-index: -1;
}

.pageFive>.content>.comet>.head{
    width: 10vw;
    height: 7vw;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.pageFive>.content>.comet>.head>.outerRoundHead{
    width: 10vw;
    height: 7vw;
    position: absolute;
    left: -5vw;
    background-color: #f2f2f2;
    border-radius: 50%;
    z-index: -1;
}

.pageFive>.content>.comet>.head>.innerSquareHead{
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 50%;
    right: 4vw;
    transform: translateY(-50%);
    background-color: #e4e4e4;
}

.pageFive>.content>.comet>.head>.innerRoundHead{
    width: 9vw;
    height: 5vw;
    position: absolute;
    top: 50%;
    right: 5vw;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: #e4e4e4;
}

/*** PAGE SIX ***/
/** Quote **/
.pageSix>.content .textBlockQuote{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50vw;
    text-align: center;
    color: #f2f2f2;
    font-family: proximaLight;
}

.pageSix>.content p{
    text-align: middle;
    display: block;
}

.pageSix>.content .quote{
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 38px;
    font-style: italic;
    font-family: proximaBold
}

.pageSix>.content .autor{
    color: #f2f2f2;
    font-size: 20px;
    font-style: italic;
    font-family: proximaSemiBold
}
